@import url('https://fonts.cdnfonts.com/css/ps');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 20px;
    font-size: 30px;
}

h2 {
    margin-top: 20px;
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1c9c9;
}

section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.footer-one {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 20px 0 20px 0;
    margin: 0 0 36px 0;
    background-color: #092433;
    font-family: 'PS', sans-serif;

    & .image-container {
        display: flex;
        align-self: center;
        padding: 0 120px 0 90px;
        width: auto;
        height: 170px;

    }

    & .about-container {
        padding: 25px 120px 0 0;

        & h3 {
            font: .9rem 'PS', sans-serif;
            font-weight: 800;
        }

        & p {
            margin: 10px 0 0 0;
            width: 300px;
            color: #fff;
            font-size: .6rem;
        }
    }

    & .navigation {
        padding: 0 120px 0 0;

        & a {
            display: list-item;
            list-style-type: none;
            text-decoration: none;
            margin: 20px 0 0 0;
            padding: 10px;
            color: #fff;
            font: .7rem 'PS', sans-serif;
            text-align: center;
            font-weight: 800;
        }
    }

    & .footer-one-contacts {
        padding: 23px 10px 0 0;

        & h3 {
            padding: 0 0 10px 0;
            font: .9rem 'PS', sans-serif;
            font-weight: 800;
        }

        & i {
            color: #fff;
            font-size: 1.1rem;
            text-align: center;
            line-height: 32px;
            margin: 0 10px;
            width: 35px;
            height: 35px;
            border: 2px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease;
        }
    }

    & .footer-one-copyright-container {
        display: flex;
        position: absolute;
        background-color: #fff;
        top: 385px;
        width: 98.8vw;
        margin: 0 0 10px 0;
        padding: 10px 0 10px 480px;

        & p {
            padding: 10px 0 10px 0;
            font: 0.8rem 'Quicksand', sans-serif;
            font-size: 0.8rem;
            font-weight: 500;
            color: #000;
        }
    }
}

footer.design2 {
    background-color: #379e60;
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    & > .column {
        flex: 1;
        margin: 10px;
        min-width: 200px;

        h3 {
            font-size: 18px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        p {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 20px;
            text-align: center;
            /* outline: 3px dotted red; */
        }

        
        
        button {
            
            --button_radius: 0.75em;
            --button_color: #7fb176;
            --button_outline_color: #000000;
            font-size: 17px;
            font-weight: bold;
            border: none;
            margin-left: 10rem;
            margin-top: 2rem;
            border-radius: var(--button_radius);
            background: var(--button_outline_color);
            /* outline: 3px dotted red; */
          }
          
          .button_top {
            display: block;
            box-sizing: border-box;
            border: 2px solid var(--button_outline_color);
            border-radius: var(--button_radius);
            padding: 0.75em 1.5em;
            /* margin-left: 1rem; */
            background: var(--button_color);
            color: var(--button_outline_color);
            transform: translateY(-0.2em);
            transition: transform 0.1s ease;
          }
          
          /* button:hover .button_top {
            
            transform: translateY(-0.33em);
          } */
          
          /* button:active .button_top {
            
            transform: translateY(0);
          } */

        .contact-info {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 110px ;
            font-size: 20px;
            li {
                margin-bottom: 10px;
            }
        }

        .social-icons {
            i {
                display: flex;
                align-self: center;
                color: white;
                font-size: 30px;
                margin-left: 180px ;
                margin-bottom: 1rem;
                margin-top: 1rem;
                /* outline: 3px dotted red; */
            }
        }
    }
}

.footer-three {
    display: list-item;
    justify-content: center;
    padding: 20px 0 20px 0;
    background: #11051b;
    font: 1rem 'Poppins', sans-serif;

    & h1 {
        color: #edbc2f;
        font-weight: 500;
        text-align: center;
    }

    & h5 {
        color: #edbc2f;
        text-align: center;
        font-weight: 500;
        padding: 10px 130px 15px 130px;
    }

    & .footer-three-nav {
        display: flex;
        justify-content: center;
        
        & a {
            color: #edbc2f;
            text-decoration: none;
            padding: 10px 20px;
            margin: 10px 10px;
        }

        & .line {
            color: #edbc2f;
            align-self: center;
            font-weight: 600;
        }
    }

    & .footer-three-container {
        display: flex;
        justify-content: center;
        padding: 10px 0 10px;

        & h6 {
            color: #edbc2f;
            font-weight: 400;
            font-size: 0.8rem;
        }
    }
}

footer.design4 {
    
    background-image: linear-gradient(to right, #77f8ff 0%, #77f8ff 0%, #77f8ff 21%, #237e7f 52%, #112831 78%, #072d34 100%);
    width: 100%;
}


.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIconss{
    display: flex;
    justify-content: center;
}
.socialIconss a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIconss a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

/*.socialIconss a:hover{
     background-color: #111;
     transition: 0.5s; 
}*/
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNavv{
    margin: 30px 0;
}
.footerNavv ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNavv ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    /* transition: 0.5s; */

}
/* .footerNavv ul li a:hover{
    opacity: 1; 
}*/
.footerBottom{
    background-color: #464141;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



footer.design5 {
    background-color: #791818;
    background-image: linear-gradient(147deg, #843333 0%, #d08080 100%);
    width: 100%;
}

footer{
    background: #343434;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    color: #ffffff;
}
.footer-content ul{
    text-align: center;
}
.listt{
    padding: 0;
}
.listt li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.listt li a {
    color: #ffffff;
}
.listt li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    /* background: #f18930; */
    /* transition-duration: .5s; */
}
/* .list li:hover::before{
    width: 70px; 
}*/
.social-iconsss{
    text-align: center;
    padding: 0;
}
.social-iconsss li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-iconsss i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
/* a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
} */
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #000000;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.footer-six {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 20px 0 20px 0;
    margin: 0 0 36px 0;
    background-color: #092433;
    font-family: 'PS', sans-serif;

    & .image-container {
        display: flex;
        align-self: center;
        padding: 0 120px 0 90px;
        width: auto;
        height: 170px;

    }

    & .about-container {
        padding: 25px 120px 0 0;

        & h3 {
            font: .9rem 'PS', sans-serif;
            font-weight: 800;
        }

        & p {
            margin: 10px 0 0 0;
            width: 300px;
            color: #fff;
            font-size: .6rem;
        }
    }

    & .navigation {
        padding: 0 120px 0 0;

        & a {
            display: list-item;
            list-style-type: none;
            text-decoration: none;
            margin: 20px 0 0 0;
            padding: 10px;
            color: #fff;
            font: .7rem 'PS', sans-serif;
            text-align: center;
            font-weight: 800;
        }
    }

    & .footer-six-contacts {
        padding: 23px 10px 0 0;

        & h3 {
            padding: 0 0 10px 0;
            font: .9rem 'PS', sans-serif;
            font-weight: 800;
        }

        & i {
            color: #fff;
            font-size: 1.1rem;
            text-align: center;
            line-height: 32px;
            margin: 0 10px;
            width: 35px;
            height: 35px;
            border: 2px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease;

            &:active {
                transform: scale(0.9);
            }
        }
    }

    & .footer-six-copyright-container {
        display: flex;
        position: absolute;
        background-color: #fff;
        top: 2455px;
        width: 98.8vw;
        margin: 0 0 10px 0;
        padding: 10px 0 10px 480px;

        & p {
            padding: 10px 0 10px 0;
            font: 0.8rem 'Quicksand', sans-serif;
            font-size: 0.8rem;
            font-weight: 500;
            color: #000;
        }
    }
}

.animated-six {

    & .navigation {
        padding: 0 120px 0 0;

        & a {
            position: relative;
            transition: color 0.3s ease;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: #fff;
                bottom: 0;
                transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
            }

            &::before {
                left: 50%;
            }

            &::after {
                right: 50%;
            }

            &:hover {
                color: #dfd9d9;

                &::before, &::after {
                    width: 50%;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }
            }
        }
    }

    & i:hover {
        transform: scale(1.2);
        border: 2px solid #092433;
        color: #092433;
        background-color: aliceblue;
    }
}

footer.design7 {
    background-color: #379e60;
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    & > .column {
        flex: 1;
        margin: 10px;
        min-width: 200px;

        h3 {
            font-size: 18px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        p {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 20px;
            text-align: center;
            /* outline: 3px dotted red; */
        }

        button {
            
            --button_radius: 0.75em;
            --button_color: #7fb176;
            --button_outline_color: #000000;
            font-size: 17px;
            font-weight: bold;
            border: none;
            margin-left: 10rem;
            margin-top: 2rem;
            border-radius: var(--button_radius);
            background: var(--button_outline_color);
            /* outline: 3px dotted red; */
          }
          
          .button_top {
            display: block;
            box-sizing: border-box;
            border: 2px solid var(--button_outline_color);
            border-radius: var(--button_radius);
            padding: 0.75em 1.5em;
            /* margin-left: 1rem; */
            background: var(--button_color);
            color: var(--button_outline_color);
            transform: translateY(-0.2em);
            transition: transform 0.1s ease;
          }
          
          button:hover .button_top {
            
            transform: translateY(-0.33em);
          }
          
          button:active .button_top {
            
            transform: translateY(0);
          }

        .contact-info {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 110px ;
            font-size: 20px;
            li {
                margin-bottom: 10px;
            }
        }

        .social-icons {
            

            &:hover {
                i:not(:hover) {
                    transform: scale(0.8);
                }
            }
        
            & i:hover {
                color: #fff;
            }

            i {
                display: flex;
                align-self: center;
                color: white;
                font-size: 30px;
                margin-left: 180px ;
                margin-bottom: 1rem;
                margin-top: 1rem;
                /* outline: 3px dotted red; */
            }
            
            
        }
    }
}

.animated-three {

    .footer-three-nav {
        display: flex;
        justify-content: center;

        &:hover {
            a:not(:hover) {
                transform: scale(0.9);
                filter: drop-shadow(0 0 10px #edbc2f) brightness(1);
            }
        }
        a {
            color: #edbc2f;
            text-decoration: none;
            padding: 10px 20px;
            margin: 10px 10px;
            position: relative;
            display: inline-block;
            transition: color 0.3s ease;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #edbc2f;
                left: 0;
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }

            &::before {
                top: 0;
                transform-origin: left;
            }

            &::after {
                bottom: 0;
                transform-origin: right;
            }

            &:hover {
                color: #fff;

                &::before, &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

footer.design9 {
    background-image: linear-gradient(to right, #77f8ff 0%, #77f8ff 0%, #77f8ff 21%, #237e7f 52%, #112831 78%, #072d34 100%);
    width: 100%;
}


.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #464141;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



footer.design10 {
    background-color: #791818;
    background-image: linear-gradient(147deg, #843333 0%, #d08080 100%);
    width: 100%;
}

footer{
    background: #343434;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    color: #ffffff;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list a{
    color: #ffffff;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
/*a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}*/
.bottom-bar p{
    color: #000000;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
